.loading {    
    display: none;
}
.input {
    border: unset;
    padding: 12px;
    margin-right: 16px;
    border-bottom: 2px solid grey;
    font-family: Martel;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 292px;
}
.inputs {
    /* margin: 0px var(--side-columns-width); */
    /* -webkit-transform: translate(0px,-64%); */
    display: flex;
    justify-content: space-between;
}
.inputs-container {
    background: #FFFFFF;
    padding: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}
.inputs > .inputs-container > .buttom-vamos-conversar {
    margin-left: 8px;
    height: 20px;
}
@media only screen and (max-width: 935px) {
    .loading {    
        display: none;
        width: 44px;
        height: 44px;
        align-self: flex-end;
    }
    .input{
        margin-right: unset;
    }
    .inputs-container{
        flex-direction: column;
    }
    .inputs > .inputs-container > .buttom-vamos-conversar{
        margin-left: unset;
        margin-top: 16px;
        align-self: flex-end;
    }
    .inputs {
        /* -webkit-transform: translate(0px,-40px); */
    }
}